<h1> Sign Up Here</h1>

<%= form_for @user, url: {action: 'create', controller: "users"} do |f| %>
<%= f.label :email %>
<%= f.text_field :email%>

<%= f.label :password %>
<%= f.password_field :password%>

<%= f.submit "Join The Love!" %>
<% end %>
